h1, h2, h3, h4, h4, h5, td, table, p, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.white { color:white;font-weight:900 }
td
{	color: Black;
	font-size: 13px;
}
.pagetitle {
	color: #ffffff;
	background-color: #666699;
	font-size: 20px;
	font-weight: 900;
	text-align: center
}
.title {
	color: #FF0033; background-color: #F8F8F8; font-size: 25px; font-weight: 900;
	text-align: center; border-width: 2px; border-style: solid
}
	
.panel {
	font-size: 18px;
	background-color: #666699;
	color : #ffffff;
}

.chattername {
	font-family:Arial,Tahoma,Verdana;
	color:#6633CC;
	font-size:18px
}

.error {
	color : #FF3300;
	font-weight : 700;
}

a, a:link, a:visited, a:hover, a:active {
	font-family:Arial,Tahoma,Verdana;
	font-size:16px;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	color:#333399
}
a:hover {
	text-decoration:underline;
	color:#000000; 
}

h2 {
	font-size: 150%;
	color: #000066;
}
h3 { font-size: 110%; color:#009966 }
h4 { font-size: 100%; color:#330099 }

*{
	/*border: 1px Solid #808080;*/
}


.clear { clear:both; }

div.container {
	position: absolute;
	display: block;
	width:50em; 
	height:25em;
	/*background-color: #666699;*/
}

div#RowOneColumnOne{
	display:inline-block;
	float:left;
	top:0px;
	width: 48%;
	height:20em;
}
div#RowOneColumnTwo{
	display:inline-block;
	float:left;
	margin-right:0.5em;
	width: 48%;
	height:20em;
	margin-right: 0.5em;
}

div#RowTwoColumnOne{
	display:inline-block;
	float:left;
	margin-top:0.5em;
	width:48%;
	height:3em;
	/*border: 2.5px Solid #808080;*/
	}
	
div#RowTwoColumnTwo {
	display:inline-block;
	float:left;
	margin-top:0.5em;
	margin-left:0.5em;
	width:48%;
	height:3em;
	/*border: 2.5px Solid #808080;*/
   }
	
div#headerHolder{
	display:inline-block;
	float:left;
	width: 100%;
	height: 10%;
	text-align: center;
	background: skyblue;
	font-size: 1.5em;
	color: #ffffff;
}

div#userName{
	display:inline-block;
	float:left;
	width: 99%;
	height: 10%;
	padding: 0.2em;
}

img#ClanLogo{
vertical-align: middle;
width: 2em;
height: 2em;
}

div#userName span{
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

div#messageDisplayBox{
	display:inline-block;
	float:left;
	width: 100%;
	height: 80%;
	font-size: 1em;
	text-align:left;
	background: lightblue;
	overflow: scroll;
	}
	
div#RoomSelection{
	display:inline-block;
	width:100%;
	max-height:45%;
	overflow-y:scroll;
}

div#roomSelection label{
	display:inline-block;
	float: left;
	width: 85%;
	height: 50%;
	margin: 0.2em;
	text-align: left;
	}

div#chatters{
	display:inline-block;
	width: 99%;
	margin-top:0.5em;
	max-height:45%;
    overflow-y:scroll;
}
	
input#messagebox{
	font-size:1em;
	display: inline-block;
	float: left;
	width: 78%;
	height:80%;
}

input#sendMessageBtn{
	font-size:1em;
	display: inline-block;
	float: right;
	width: 18%;
	height:84%;
	background: skyblue;
}

	
div#roomSelection span{
	float: right;
	}
	
div#RoomTwoColumnOne form{
	width:46%;
	position: relative;
	float: left;
    margin-bottom: 5px;
    margin-left: 10px;
	/*border: 2.5px Solid #808080;*/
	
}

div#RoomTwoColumnOne form Input[type="text"]{
	font-size:1em;
	width: 84%;
	height:98%;
}

div#RoomTwoColumnOne form Input[type="submit"]{
	font-size:1em;
	width: 14%;
	height:94%;
}

img.emoji{
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
   }
   
img.emoji:hover {
   background: lightblue;
   }
