*{
	/*border: 1px Solid #808080;*/
}


.clear { clear:both; }

div.container {
	position: absolute;
	display: block;
	width:100%; 
	height:31em;
	/*background-color: #666699;*/
}


div#RowOneColumnOne{
	display:inline-block;
	float:left;
	width: 48%;
	height:6em;
}
div#RowOneColumnTwo{
	display:inline-block;
	float:right;
	width: 48%;
	height:6em;
}

div#RowTwoColumnOne{
	display:inline-block;
	float:left;
	bottom:0px;
	width:48%;
	height:25em;
	/*background-color: #666688;*/
}

div#RowTwoColumnTwo{
	display:inline-block;
	right:5px;
	bottom:5px;
	width:48%;
	height:25em;
}

img.imgHolder {
	float:left;
	width: 2.5em;
	height: 2.5em;
	padding-right: 0.2em;
	/*border: 1px Solid #808080;*/
}
div.headerText{ 
	font-size: 1.5em;
	/*border: 1px Solid #808080;*/
}



div#RowTwoColumnOne fieldset{
	width:90%;
	height:24em;
}

iframe#AW_frameHolder{
	border:0;
	width:99%;
	height:23em;
	/*background:azure;*/
}


div#AW_OtherClanOnline{
	display: block;
	width: 92%;
	height: 2em;
	margin-bottom: 0.5em;
}

div#AW_OtherClanOffline{
	display: block;
	width: 92%;
	height: 2em;
	margin-bottom: 0.5em;
}



div#RowTwoColumnTwo strong{
	display: block;
	width: 46%;
	font-size: 1em;
}

div#RowTwoColumnTwo fieldset{
	width:90%;
	height: 10em;
}

div#RowTwoColumnTwo svg {
	display: inline-block;
	float: left;
	width: 1em;
	height: 1em;
}