*{
	/*border: 1px Solid #808080;*/
}


.clear { clear:both; }

div.container {
	position: absolute;
	display: block;
	width:100%; 
	min-height:20em;
	max-height:31em;
	overflow-y: scroll;
	/*background-color: #666699;*/
}

div#RowYourClan{
	display:block;
	width: 100%;
	height:2.5em;
	
}

div#RowClanMembers{
	margin-top:0.5em;
	display:block;
	width:100%;
	min-height:5em;
	max-height:15em;
	overflow-y: scroll;
	/*background-color: #666688;*/
}

div#RowOtherClan{
	display:block;
	width:100%;
	height:2.5em;
}

div#RowOtherClanMembers{
	display:block;
	width:100%;
	margin-top:0.5em;
	height:7em;
}

div#RowLegend{
	display:block;
	width:100%;
	margin-top:0.5em;
	height:4em;
}
img.imgHolder {
	float:left;
	width: 2.5em;
	height: 2.5em;
	padding-right: 0.2em;
	/*border: 1px Solid #808080;*/
}
div.headerText{ 
	font-size: 1.5em;
	/*border: 1px Solid #808080;*/
}

div#AW_OtherClanOnline{
	display: block;
	height: 1.5em;
	margin-bottom: 0.5em;
}

div#AW_OtherClanOffline{
	display: block;
	height: 1.5em;
	margin-bottom: 0.5em;
}


div#RowLegend strong{
	display: inline-block;
	float:left;
	font-size: 1em;
	margin-right:1em;
	
}

div#RowLegend svg {
	display: inline-block;
	float: left;
	width: 1em;
	height: 1em;
	text-align:center;
	line-height:0.5em;
	margin-right:0.25em;
}

div#RowLegend svg rect {
	display:inline-block;
	vertical-align: middle;

	}