*{
	/*border: 1px Solid #808080;*/
}
div.container {
	position: relative;
	width:50em; 
	height:25em;
	margin-right: auto;
    margin-left: auto;
	word-wrap:break-word;
	/*background-color: #666699;*/
}

.clear { clear:both; }

div.row{
	position: absolute;
	padding: 0.2em;
}
div#RowOne{
	display:block;
	top:0;
	width: 99%;
	height: 20%;
	/*background-color: #666666;*/
}
div#RowTwo{
	display:block;
	bottom:0;
	width: 99%;
	height: 76%;
	/*background-color: #666699;*/
}
div.column {
	position: absolute;
    padding: 0.2em;
}
div#RowOneColumnOne{
	left: 0px;
	width: 50%;
	height:18%;
	padding: 0.2em;
}
div#RowOneColumnTwo{
	right: 0px;
	width: 45%;
	height:18%;
	padding: 0.2em;
}

img.imgHolder {
	position:relative;
	display: inline;
	float: left;
	width: 2.5em;
	height: 2.5em;
	/*border: 1px Solid #808080;*/
}
div.headerText{ 
	position:relative;
	display: inline;
	float:left;
	font-size: 1.5em;
	vertical-align: middle;
	/*border: 1px Solid #808080;*/
}

div#RowTwoColumnOne{
	display:inline;
	left:0px;
	width:50%;
	height:96%;
	padding: 0.2em;
	/*background-color: #666688;*/
}
div#RowTwoColumnOne fieldset{
	position: relative;
	width:96%;
	height: 96%;
}
iframe#AW_frameHolder{
	display: block;
}

div#RowTwoColumnTwo{
	right:0px;
	width:45%;
	height:96%;
	padding: 0.2em;
}

div#AW_OtherClanOnline{
	position: relative;
	display: block;
	width: 98%;
	height: 5%;
	margin-bottom: 0.5em;
}

div#AW_OtherClanOffline{
	position: relative;
	display: block;
	width: 98%;
	height: 5%;
	margin-bottom: 0.5em;
}
div#RowTwoColumnTwo strong{
	display: block;
	width: 98%;
	font-size: 1em;
}

div#RowTwoColumnTwo fieldset{
	position: absolute;
	width:96%;
	bottom:5px;
}

div#RowTwoColumnTwo svg {
	display: inline-block;
	float: left;
	width: 1em;
	height: 1em;
}