*{
	/*border: 1px Solid #808080;*/
}

div.container {
	/*making the position absolute 
	will not allow iframe to scroll*/
	width:98%; 
	height:98%;
	/*background-color: #666699;*/
}

.clear { 
	clear:both; }

div.row{
	position: relative;
	padding: 0.2em;
}

div#RowOne{
	display:block;
	top:0px;
	width: 98%;
	height: 98%;
	/*background-color: #666666;*/
}

div#RowOne form{
	position: relative;
	display:block;
	widht: 98%;
	height: 98%;
	}
	
div#RowOne form label{
	display:inline-block;
	height:2.5em;
	margin: 0.1em;
	line-height:2.5em;
	}
	
	
.ui-checkboxradio-label.ui-corner-all.ui-button{
    padding: .5em; !important;
}
