*{
	/*border: 1px Solid #808080;*/
}

div.container {
	/*making the position absolute 
	will not allow iframe to scroll*/
	width:98%; 
	height:98%;
	/*background-color: #666699;*/
}

.clear { 
	clear:both; }

#headerHolder{
border: 2.5px Solid #ff0000;
text-align: center;
background: #440000;
color: #ffffff;
width: 100%;
}

div.row{
	position: relative;
	padding: 0.2em;
}

div#RowOne{
	display:block;
	top:0px;
	width: 98%;
	height: 98%;
	/*background-color: #666666;*/
}

div#RowOne form{
	position: relative;
	display:block;
	widht: 98%;
	height: 98%;
	}
	
	div#PercentBar{
	background: #046cf7;
    height: 100%;
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0.5;
    }
div#RowOne form label{
	display:inline-block;
	margin: 0.1em;
	line-height:2.5em;
	overflow:hidden;
	}
	
	
.ui-checkboxradio-label.ui-corner-all.ui-button{
    padding: .5em; !important;
}

.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-checked.ui-state-active{
	background: skyblue;
	border: 1px solid skyblue;
}
